<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PreguntadORT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PreguntadORT.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand logo m-3" asp-area="" asp-controller="Home" asp-action="Index"><img class="w-100" src="/sources/logoSinFondo.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 p-3">
                        <li class="nav-item">
                            <a class="nav-link link mr-5" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:20px; color:solid black;">Home</a>
                        </li>
                        <li class="nav-item" style="width: 10px;"></li>
                        <li class="nav-item">
                            <a class="nav-link link" asp-area="" asp-controller="Home" asp-action="Highscores" style="font-size:20px; color:solid black;">Tabla de puntajes</a>
                        </li>
                    </ul>
                </div>

                @if(@Juego.Username != "" && @Juego.Fin == false){

                    <div class="secs"><span id="timeClock"> @Juego.Segundos</span> segundos</div>
                   
                    <div class="score">
                            <h3> @Juego.Username /  @Juego.PuntajeActual pts </h3>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     <input type="hidden" value=@Juego.Fin id="Fin">

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
