@{
    ViewData["Title"] = "Puntajes";
}


<h1 class="text-center mt-5" style="font-size: 100px; color:#a58cce;">CLASIFICACIÓN</h1>

<div class="text-center" style="margin: 0;">
    <table class="table points rounded">
        <thead class="thead">
            <tr>                
                <th scope="col">Usuario</th>
                <th scope="col">Puntos</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tiempo</th>
            </tr>
        </thead>
        <tbody >
            @foreach (Puntaje punt in @ViewBag.listaPuntajes)
            {
                <tr class="filaTablaUsuario">
                
                    <th scope="row">@punt.UserName</th>
                    <td>@punt.Puntos</td>
                    <td>@punt.FechaHora</td>   
                    <td>@punt.Tiempo segundos</td>
                       
                </tr> 
            }           
        </tbody>
    </table>
</div>

    
   
    

