@{
    ViewData["Title"] = "Home Page";
}

<div id="index-content" class="text-center">
    <img src="/sources/logoSinFondo.png" style="background: none; margin-top: 100px;">
    <br>
    <button onclick='$("#modal").show(); $("#index-content").hide();' class="button">Empezar Juego </button>
</div>

<div id="modal">
    <button id="cerrar" onclick='$("#modal").hide(); $("#index-content").show();'> &times; </button>
    
    <form action='@Url.Action("Comenzar", "Home")' method="get">
        <div class="form-group row">
            <label for="staticEmail" class="col-form-label text-center">Nombre de usuario: <span><br><input type="text" class="text-black ingresarNombre font h4" id="staticEmail" autocomplete="off" name="userName" placeholder="" required></span></label>            
                        
        </div>

        <div class="flex-container mt-5">
            <div class="flex-item">
                <p class="text-center">DIFICULTAD</p>
                @foreach(Dificultad dif in @ViewBag.Dificultades){
                    
                    <div class="form-check text-black">
                        <label class="form-check-label" for="inlineRadio1"> @dif.Nombre </label>
                        <input class="form-check-input" type="radio" name="dificultad" required id="inlineRadio1" value=@dif.IdDificultad>
                    </div>
                }
                <div class="form-check text-black">
                    <label class="form-check-label" for="inlineRadio1"> Todas </label>
                    <input class="form-check-input" type="radio" name="dificultad" id="inlineRadio1" value="-1">
                </div>
            </div>
            
            <div class="flex-item">
                <p class="text-center">CATEGORIA</p>
                @foreach(Categoria cat in @ViewBag.Categorias){
                    <div class="form-check text-black">
                        <label class="form-check-label" for="inlineRadio1"> @cat.Nombre </label>
                        <input class="form-check-input" type="radio" name="categoria" required id="inlineRadio1" value=@cat.IdCategoria>
                    </div>
                }
                <div class="form-check text-black">
                    <label class="form-check-label" for="inlineRadio1"> Todas </label>
                    <input class="form-check-input" type="radio" name="categoria" id="inlineRadio1" value="-1">
                </div>
            </div>
            
        </div>

        <div class="text-center" style="">
            <input type="submit" value="Jugar" class="button" style="width:40%; margin-top:2%;">
        </div>
        

    </form>
</div>
