@{
    ViewData["Title"] = "Jugar";
}

<div class="question">
    <h1>@ViewBag.Pregunta.Enunciado</h1>   
</div>

<div style="width: 100%;">
    
    <img src="@ViewBag.Pregunta.Foto" class="foto" alt="">    
</div>

    <div class="mt-5 mb-5" style="width: 90%; margin:auto;">
        <div class="row g-3 d-flex align-items-center">
            @foreach (Respuesta resp in @ViewBag.Respuestas)
            {                         
                <div class="col-6">
                    @if (@ViewBag.FueRespondida == true)
                    {
                        if(resp.IdRespuesta == @ViewBag.RespuestaCorrecta){
                            <p class="" style="background-color: green; text-align: center; text-decoration:none; color: white; border-radius: 15px;  width: 96%; height: 175px;  font-size: 38px; box-sizing: content-box; position: relative; align-items: center; display: flex; align-items: center; justify-content: center; box-shadow: 6px 6px 8px 0px black;" href='@Url.Action("VerificarRespuesta", "Home", new {idRespuesta = @resp.IdRespuesta, idPregunta = @ViewBag.Pregunta.IdPregunta})'> @resp.Contenido </p>
                        }else if(resp.IdRespuesta == @ViewBag.RespuestaIncorrecta){
                            <p class="" style="background-color: red; text-align: center; text-decoration:none; color: white; border-radius: 15px;  width: 96%; height: 175px;  font-size: 38px; box-sizing: content-box; position: relative; align-items: center; display: flex; align-items: center; justify-content: center; box-shadow: 6px 6px 8px 0px black;" href='@Url.Action("VerificarRespuesta", "Home", new {idRespuesta = @resp.IdRespuesta, idPregunta = @ViewBag.Pregunta.IdPregunta})'> @resp.Contenido </p>
                        }else{
                            <p class="" style="background-color: #a58cce; text-align: center; text-decoration:none; color: white; border-radius: 15px;  width: 96%; height: 175px;  font-size: 38px; box-sizing: content-box; position: relative; align-items: center; display: flex; align-items: center; justify-content: center; box-shadow: 6px 6px 8px 0px black;" href='@Url.Action("VerificarRespuesta", "Home", new {idRespuesta = @resp.IdRespuesta, idPregunta = @ViewBag.Pregunta.IdPregunta})'> @resp.Contenido </p>
                        }                        
                    }else{
                        <a class="answers" href='@Url.Action("VerificarRespuesta", "Home", new {idRespuesta = @resp.IdRespuesta, idPregunta = @ViewBag.Pregunta.IdPregunta})'> @resp.Contenido </a>
                    }

                    
                </div>                             
            }
        </div>
    </div>

@if (@ViewBag.FueRespondida == true){
    <div class="text-center mb-5">
        <a class="button text-center" style="text-decoration:none;" href='@Url.Action("Jugar", "Home")'>Siguiente pregunta</a>
    </div>    
}

