@{
    ViewData["Title"] = "Jugar";
}

<div class="question">

    <h1>@ViewBag.Pregunta.Enunciado</h1>

</div>

<div style="width: 100%;">
    <img src="@ViewBag.Pregunta.Foto" class="foto" alt="">
</div>

    <div class="mt-5 mb-5" style="width: 90%; margin:auto;">
        <div class="row g-3">
            @foreach (Respuesta resp in @ViewBag.Respuestas)
            {         
                <div class="col-6">
                    <div class="answers"><a style="text-decoration:none; color:white; width: 100%; height:100%; display: block;" href='@Url.Action("VerificarRespuesta", "Home", new {idRespuesta = @resp.IdRespuesta, idPregunta = @ViewBag.Pregunta.IdPregunta})'> @resp.Contenido </a></div>
                </div>                             
            }
        </div>
    </div>
