@{
    ViewData["Title"] = "Jugar";
}

<div class="question">
    <h1>@ViewBag.Pregunta.Enunciado</h1>   
</div>

<div style="" class="siguientePregunta">
    
    <img src="@ViewBag.Pregunta.Foto" class="foto" alt="" style="margin-left:39%;">  
    
    <a class="button text-center ml-3 border h-100" style="text-decoration:none;" href='@Url.Action("Jugar", "Home")'> Siguiente pregunta </a>   
    
    
</div>

    <div class="mt-3" style="width: 90%; margin:auto;">
        <div class="row g-3 d-flex align-items-center">
            @foreach (Respuesta resp in @ViewBag.Respuestas)
            {                         
                <div class="col-6">
                    
                    <button class="answers @resp.IdRespuesta" onclick="Verificar(@ViewBag.Pregunta.IdPregunta, @resp.IdRespuesta);" id="@resp.IdRespuesta"> @resp.Contenido </button>
                    
                </div>                             
            }
        </div>
    </div>


<script>
    
    let div1 = document.querySelector(".puntaje");
    let sumar = 500;
    let fueRespondida = false;

    function Verificar(idP, idR){                
        
        if(fueRespondida == false){

            $.ajax({

            url: '/Home/VerificarRespuesta',
            data: {idPregunta: idP, idRespuesta: idR},
            type:'POST',
            dataType:'JSON',            
            success:
                function (respC){                      

                    $('.answers').css("background-color", "grey");                                  
                    
                    console.log(respC);
                    console.log(idR);
                    if (respC == true){ 

                        $('#' + idR).css("background-color", "green");                                 
                        div1.innerText = parseInt(div1.innerText) + sumar;
                        
                        
                    }else{
                        
                        $('#' + idR).css("background-color", "red");
                    }   

                },
            error:
                function(){
                    console.log('error');
                }

            });

        }
        fueRespondida = true;        

    }

</script>


